

::-moz-selection { /* Code for Firefox */
    color: red;
    background: yellow;
  }
  
::selection {
    color: red;
    background: yellow;
}


body {

    background-color: #5CD895;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    background-image: url(images/back.png);
    font-family: cursive;
}


.heading {

    color: white;
    text-align: center;
    position: relative;
    top: 300px;
    right: 10px;
    font-family: cursive;
    user-select: none;

}

.box {

    background-color: #0bb65b;
    height: 144px;
    height: 144px;
    position: relative;
    bottom: 100px;
    border-radius: 10px;


}

.box h1 {

    color: white;
    font-family: cursive;
    text-align: center;
    position: relative;
    top: 30px;
    font-size: 400%;
    user-select: none;

}

.round_box {

    width:200px;
    height:50px;
    background-color: yellowgreen;
    position: relative;
    left: 642px;
    top: 176px;
    border-radius: 10px;
    user-select: none;


}

.round_box p {

    font-family: cursive;
    font-size: 20px;
    color: white;
    text-align: center;
    padding-top: 10px;
    user-select: none;


}

.selection_color h1 {

    font-family: cursive;
    font-size: 30px;
    color: white;
    text-align: center;
    position: relative;
    top: 300px;
    user-select: none;  


}

.selection_color h1 a {

    user-select: none;


}

.select_para p  {

    color: white;
    font-family: cursive;
    position: relative;
    left: 390px;
    top: 400px;
    right: 200px;
    font-size: 140%;


}

.image {

    filter: brightness(50%);

}

.our_projects h1{

    color: white;
    position: relative;
    bottom: 4px;

}

.our_projects {

    background-color: #0bb65b;
    border-radius: 10px;
    width: 230px;
    text-align: center;
    position: relative;
    top: 500px;
    left: 622px;
}

.selection_color h1 a {

    color: #0bb65b;
    text-decoration: none;

}

.project_table {

    background-color: #0bb65b;
    border-color: white;
    border-width: 3px;
    border-radius: 10px;
    width: 450px;
    position: relative;
    top: 600px;
    left: 529px;

}

.project_table table{


    position: relative;
    left: 35px;

}

.project_table table a {

    color: white;
    text-decoration: none;

}

.source {

    background-color: rgba(0, 0, 0, 0.219);
    width: 500px;
    height: 75px;
    text-align: center;
    border-radius: 20px;
    position: relative;
    top: 900px;
    left: 470px;

}

.source h3 {

    color: white;
    position: relative;
    top: 25px;

}

.source h3 a {

    color: #0bb65b;
    text-decoration: none;

}

.project_table table em {

    position: relative;
    left: 50px;

}